.contactLanding{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    text-align: center;
}

.contactSize{
    font-size: 3rem;
}

.contactInfo{
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
}

.contactNumber{
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    font-weight: 500;
}

@media (max-width: 576px) {
    .contactSize {
      font-size: 1.9rem!important;
    }

    .contactNumber {
        font-size: 1rem;
    }
}  

#conbtn{
    margin-left: 0rem!important;
    font-size: 1rem!important;
    text-transform: uppercase;
    font-weight: 500!important;
}
.status-message{
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    font-weight: 500;
}