.webSection{
    height: 35rem;
}

.web{
    height: 25rem;
    background-color: #366bb4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.websitePricing{
    height: 70rem;
    justify-content: center;
    display: flex;
    padding-top: 8rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -6rem;
}
#twotime{
    height: 38rem;

}

.sasdasd{
    margin-top: -7rem;
}
.websiteAbout {
    height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

#column1, #column2{
    padding: 0!important;
}
#column2{
    margin-left: 12rem;
    margin-top: -3rem;
}

.cardTitle2{
    border-top: 2px solid white;
    padding-top: .6rem;
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.sectionSub{
    color:white;
    font-weight: 100;
    font-size: 1.2rem;
}
#f{
    color:white!important
}

.serviceItem{
    color:white;
    font-size: 1.5rem;
    font-weight: 100;
}

@media(max-width:792px){
    .websiteAbout{
        height: 49rem;
        margin-bottom: 5rem;
    }
    .web{
        height: 40rem;
    }
    #column2{
        margin: 0;
        margin-top: 1rem;
    }
    .websitePricing{
        height: 105rem;
        text-align: center;
    }
}

@media(max-width:630px){
    .websitePricing{
        height: 145rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .cardTitle2 {
      font-size: 3rem;
    }
  
  }
  
  @media (max-width: 576px) {
    .cardTitle2 {
      font-size: 2rem;
    }
    .websitePricing{
        height: 150rem;
        text-align: center;
    }
    .sectionSub, .serviceItem{
        font-size: 1.3rem;
    }

}

@media(max-width:786px){
    div .s{
        height: 72rem!important;
    }
    .aboutImage{
        width: 30rem;
        height: 20rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:786px){
    div .pen{
        height: 116rem!important;
    }

}

@media(max-width:626px){
    div .pen{
        height: 160rem!important;
    }
    #twotime{
        margin-top: 0;
    }
}

@media(max-width:340px){
    div .pen{
        height: 160rem!important;
    }
    #twotime{
        margin-top: 0;
    }
}
@media(max-width:340px){
    div .s{
        height: 80rem!important;
    }
    .aboutImage{
        width: 20rem;
        height: 15rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
}
@media(max-width:768px){
    .priceCard{
        margin-bottom: 1rem!important;
    }
}
.s,.pen{
    height: 70rem;
    justify-content: center;
    display: flex;
    padding-top: 8rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -6rem;
    text-align: center;
}

