.workLanding{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    text-align: center;
}

.workSection{
    height: 50rem;
    text-align: center;
}